@font-face {
  font-family: "iconfont"; /* Project id 2633233 */
  src: url('iconfont.woff2?t=1631099356238') format('woff2'),
       url('iconfont.woff?t=1631099356238') format('woff'),
       url('iconfont.ttf?t=1631099356238') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yu-icon-yibiaopan:before {
  content: "\e799";
}

.yu-icon-kaifashili:before {
  content: "\e61c";
}

.yu-icon-pengyouquan:before {
  content: "\e6dd";
}

.yu-icon-gongneng:before {
  content: "\e875";
}

.yu-icon-chanpin:before {
  content: "\e60a";
}

.yu-icon-lifangti:before {
  content: "\e72d";
}

.yu-icon-youxiang:before {
  content: "\e623";
}

.yu-icon-gerenxinxi:before {
  content: "\e603";
}

.yu-icon-shimingrenzheng:before {
  content: "\e65c";
}

.yu-icon-chanpin1:before {
  content: "\e62c";
}

.yu-icon-icon_xinyong_xianxing_jijin-129:before {
  content: "\e647";
}

.yu-icon-jiagebiaoqian:before {
  content: "\e625";
}

.yu-icon-shouji:before {
  content: "\e605";
}

.yu-icon-quanping:before {
  content: "\e604";
}

.yu-icon-weixin:before {
  content: "\e7e5";
}

.yu-icon-02:before {
  content: "\e64a";
}

.yu-icon-zujian:before {
  content: "\e730";
}

.yu-icon-shouye:before {
  content: "\e614";
}

.yu-icon-zhengque:before {
  content: "\e88c";
}

.yu-icon-dianyuan:before {
  content: "\e68a";
}

.yu-icon-guanbi:before {
  content: "\e61a";
}

