@font-face {
  font-family: "iconfont"; /* Project id 2633233 */
  src: url('iconfont.woff2?t=1630741215711') format('woff2'),
       url('iconfont.woff?t=1630741215711') format('woff'),
       url('iconfont.ttf?t=1630741215711') format('truetype');
}

.Yu-icon-chanpin:before {
  content: "\e60a";
}

.Yu-icon-lifangti:before {
  content: "\e72d";
}

.Yu-icon-youxiang:before {
  content: "\e623";
}

.Yu-icon-gerenxinxi:before {
  content: "\e603";
}

.Yu-icon-shimingrenzheng:before {
  content: "\e65c";
}

.Yu-icon-chanpin1:before {
  content: "\e62c";
}

.Yu-icon-icon_xinyong_xianxing_jijin-129:before {
  content: "\e647";
}

.Yu-icon-jiagebiaoqian:before {
  content: "\e625";
}

.Yu-icon-shouji:before {
  content: "\e605";
}

.Yu-icon-quanping:before {
  content: "\e604";
}

.Yu-icon-weixin:before {
  content: "\e7e5";
}

.Yu-icon-02:before {
  content: "\e64a";
}

.Yu-icon-zujian:before {
  content: "\e730";
}

.Yu-icon-shouye:before {
  content: "\e614";
}

.Yu-icon-zhengque:before {
  content: "\e88c";
}

.Yu-icon-dianyuan:before {
  content: "\e68a";
}

.Yu-icon-guanbi:before {
  content: "\e61a";
}

