@font-face {
  font-family: 'iconfont'; /* Project id 2633233 */
  src: url('iconfont.woff2?t=1655454146672') format('woff2'), url('iconfont.woff?t=1655454146672') format('woff'),
    url('iconfont.ttf?t=1655454146672') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yu-icon-number-sign-full:before {
  content: '\ea7b';
}

.yu-icon-xitongxiaoxi:before {
  content: '\e630';
}

.yu-icon-zcpt-yonghuzhongxin:before {
  content: '\e6b8';
}

.yu-icon-remen:before {
  content: '\e62d';
}

.yu-icon-renminbi:before {
  content: '\e602';
}

.yu-icon-icon_notice:before {
  content: '\e607';
}

.yu-icon-xiaoxi1:before {
  content: '\e61b';
}

.yu-icon-judaoliebiao:before {
  content: '\e6b0';
}

.yu-icon-hot-fill:before {
  content: '\e781';
}

.yu-icon-sousuo1:before {
  content: '\e63f';
}

.yu-icon-shoutibao:before {
  content: '\e617';
}

.yu-icon-shejiao:before {
  content: '\e619';
}

.yu-icon-sousuo2:before {
  content: '\e606';
}

.yu-icon-jiaoyou:before {
  content: '\fc19';
}

.yu-icon-sousuo:before {
  content: '\e632';
}

.yu-icon-jiahao1:before {
  content: '\e727';
}

.yu-icon-round:before {
  content: '\e60f';
}

.yu-icon-shouye1:before {
  content: '\e70e';
}

.yu-icon-wode:before {
  content: '\e65d';
}

.yu-icon-xiaoxi:before {
  content: '\e86a';
}

.yu-icon-wode-copy:before {
  content: '\e88d';
}

.yu-icon-ai-eye:before {
  content: '\e669';
}

.yu-icon-biyanjing:before {
  content: '\e601';
}

.yu-icon-cry:before {
  content: '\e6e6';
}

.yu-icon-shanchu:before {
  content: '\e626';
}

.yu-icon-chenggong:before {
  content: '\e60b';
}

.yu-icon-shanchu1:before {
  content: '\e63c';
}

.yu-icon-img:before {
  content: '\e699';
}

.yu-icon-icon-test:before {
  content: '\e651';
}

.yu-icon-icon-test1:before {
  content: '\e652';
}

.yu-icon-icon-test2:before {
  content: '\e654';
}

.yu-icon-donghua:before {
  content: '\e66b';
}

.yu-icon-icon-test3:before {
  content: '\e683';
}

.yu-icon-map:before {
  content: '\e763';
}

.yu-icon-shipin:before {
  content: '\e6ca';
}

.yu-icon-editor:before {
  content: '\e6df';
}

.yu-icon-mima:before {
  content: '\e62e';
}

.yu-icon-3D:before {
  content: '\e646';
}

.yu-icon-drag:before {
  content: '\e600';
}

.yu-icon-icon__liuchengtu:before {
  content: '\e618';
}

.yu-icon-yibiaopan:before {
  content: '\e799';
}

.yu-icon-kaifashili:before {
  content: '\e61c';
}

.yu-icon-pengyouquan:before {
  content: '\e6dd';
}

.yu-icon-gongneng:before {
  content: '\e875';
}

.yu-icon-chanpin:before {
  content: '\e60a';
}

.yu-icon-lifangti:before {
  content: '\e72d';
}

.yu-icon-youxiang:before {
  content: '\e623';
}

.yu-icon-gerenxinxi:before {
  content: '\e603';
}

.yu-icon-shimingrenzheng:before {
  content: '\e65c';
}

.yu-icon-chanpin1:before {
  content: '\e62c';
}

.yu-icon-icon_xinyong_xianxing_jijin-129:before {
  content: '\e647';
}

.yu-icon-jiagebiaoqian:before {
  content: '\e625';
}

.yu-icon-shouji:before {
  content: '\e605';
}

.yu-icon-quanping:before {
  content: '\e604';
}

.yu-icon-weixin:before {
  content: '\e7e5';
}

.yu-icon-02:before {
  content: '\e64a';
}

.yu-icon-zujian:before {
  content: '\e730';
}

.yu-icon-shouye:before {
  content: '\e614';
}

.yu-icon-zhengque:before {
  content: '\e88c';
}

.yu-icon-dianyuan:before {
  content: '\e68a';
}

.yu-icon-guanbi:before {
  content: '\e61a';
}
