body,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
form,
figure,
dl,
dd {
  margin: 0;
}
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
main {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  vertical-align: top;
  border: none;
}
input,
button,
select,
textarea {
  vertical-align: middle;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
input {
  border: 1px solid #a1a1a1;
}
textarea {
  resize: none;
  overflow: auto;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
.clearFix {
  zoom: 1;
}
.clearFix:after {
  content: '';
  display: block;
  clear: both;
}
i {
  font-style: normal;
}

#app {
  height: 100%;
}

.no-padding {
  padding: 0 !important;
}

.padding-content {
  padding: 4px 0;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.p12 {
  padding: 12px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearFix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

// 横向
.flex-row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
// 纵向
.flex-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
// 两侧排列
.flex-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
// 水平居中
.flex-level-center {
  justify-content: center;
  -webkit-justify-content: center;
}
// 垂直居中
.flex-vertical-center {
  align-items: center;
  -webkit-align-items: center;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ellipsis-col {
  overflow: hidden;
  text-align: justify;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.ellipsis-col2 {
  -webkit-line-clamp: 2;
}

.un-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
