
@charset "UTF-8";
// base color 1
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5;

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// custom btn color
$white: #fff;
$yuBtnPurpleDefault: #B260EA;
$yuBtnPurpleHover: #b46fea;
$yuBtnPurpleActive: #aa48ea;
$yuBtnPurpleDisabled: #cb8dea;
$yuBtnPurpleBorderColor: transparent;

$yuBtnYellowDefault: #FF9E01;
$yuBtnYellowHover: #ffc20b;
$yuBtnYellowActive: #ff8d0a;
$yuBtnYellowDisabled: #fffb05;
$yuBtnYellowBorderColor: transparent;

$yuBtnGreenDefault: #60CBB0;
$yuBtnGreenHover: #73cbb3;
$yuBtnGreenActive: #32cbad;
$yuBtnGreenDisabled: #8acbb8;
$yuBtnGreenBorderColor: transparent;

$yuBtnBlueDefault: #01C4E2;
$yuBtnBlueHover: #42d3e2;
$yuBtnBlueActive: #0db2e2;
$yuBtnBlueDisabled: #6dd9e2;
$yuBtnBlueBorderColor: transparent;

$yuBtnDangerDefault: #FB6363;
$yuBtnDangerHover: #fb8c89;
$yuBtnDangerActive: #fb4d47;
$yuBtnDangerDisabled: #fbb6b6;
$yuBtnDangerBorderColor: transparent;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
