.login-container {
  width: 100%;
  min-height: 100vh;
  padding: 15vh 0 100px;
  position: relative;
  background: #fff;
}
.w380 {
  min-width: 260px;
  width: 380px;
  margin: 0 auto;
}
.w504 {
  min-width: 260px;
  width: 504px;
  margin: 0 auto;
}

.body {
  padding: 30px 40px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #e6ebf5;
  background-color: #fff;
  vertical-align: middle;
}

.top-title {
  color: rgba(16, 16, 16, 100);
  font-size: 20px;
  height: 29px;
  line-height: 29px;
  text-align: center;
}
.main {
  margin-top: 20px;
  .foot-link {
    text-align: center;
    .link-item {
      margin: 0;
      font-size: 12px;
      line-height: 18px;
      color: #1890ff;
    }
  }
}

.foot-link {
  .el-button {
    font-size: 12px;
  }
}

// 适配移动端
@media screen and (max-width: 768px) {
  .body {
    padding: 0 30px;
    box-shadow: none;
    border: 0;
    background: transparent;
    border-radius: 0;
  }
  .w380 {
    margin: 0 auto;
    width: 100vw;
    min-width: 100vw;
  }
}
